@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --main-font-family: "Raleway", sans-serif;
}
html {
  overflow: hidden;
}
.leaflet-control-container {
  display: none;
}
.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  font-family: var(--main-font-family);
  margin-bottom: 0.5rem;
}

#map {
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
}

.cc {
  font-weight: bolder;
}
.menu{
  position: absolute;
  z-index: 1000;
  width: 300px;
  top: 5.7%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  backdrop-filter: blur(4px) saturate(178%);
  -webkit-backdrop-filter: blur(4px) saturate(178%);
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

}
.inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 1rem;
}
.locations {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 90%;
  margin: auto;
}
* {
  font-family: var(--main-font-family);
}
