@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --main-font-family: "Raleway", sans-serif;
}
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body{
  margin: 0%;
  padding: 0;
}
.leaflet-control-container {
  display: none;
}


#map {
  height: 100vh;
  width: 100vw;
}

.cc {
  font-weight: bolder;
}
.menu{
  position: absolute;
  z-index: 1000;
  width: 300px;
  height: 100vh;
  top: 0px;
  left: 0px;
  padding: 1rem;
  border-radius: 5px;
  

}
.inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 1rem;
}
.inputs input{
  outline: none;
  border: none;
  border: 1px solid gainsboro;
  font-size: .9rem; 
  padding: .5rem;
  text-indent: 15px;
  border-radius: 5px;
  font-weight: 500;
}
.locations {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 90%;
  margin: auto;
}
* {
  font-family: var(--main-font-family);
}
.menu-opener,.menu-closer{
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 500;
}