@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --main-font-family: "Raleway", sans-serif;
}
html {
  overflow: hidden;
}
.leaflet-control-container {
  display: none;
}
.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  font-family: var(--main-font-family);
  margin-bottom: .5rem;
}

#map {
  height:90vh;
  width: 95%;
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: .25fr 1fr;
}
.cc{
    font-weight: bolder;
}